.contact-section {
  background: linear-gradient(to bottom, #0f2242, #256272);
  text-align: center;
  padding: 3rem 1rem 6rem;
  color: white;
}

.contact-header h2 {
  font-family: var(--font-title);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-header p {
  font-family: var(--font-body);
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.icon {
  font-size: 2.5rem;
  color: white;
  transition: transform 0.3s ease;
  font-size: 20px;
}

.icon-whatsapp {
  font-size: 40px;        /* Tamaño del icono */
  color: #ffffff;         /* Color oficial WhatsApp */
  transition: all 0.3s ease-in-out;
  margin: 10px;           /* Espaciado opcional */
}

.icon-whatsapp:hover {
  color: #2e993c;         /* Verde más oscuro al pasar el mouse */
  transform: scale(1.2);  /* Pequeño zoom */
}

.icon-gmail {
  font-size: 40px;        /* Tamaño del icono */
  color: #ffffff;         /* Color oficial WhatsApp */
  transition: all 0.3s ease-in-out;
  margin: 10px;           /* Espaciado opcional */
}

.icon-gmail:hover {
  color: #8c2812;         /* Verde más oscuro al pasar el mouse */
  transform: scale(1.2);  /* Pequeño zoom */
}



/* Reset básico por si acaso */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #111;
  
}

/* FOOTER: fondo a lo ancho, contenido centrado */
.footer {
  width: 100%;
  background: #111;
  color: #ccc;
  padding: 2.5rem 0;   /* espacio arriba/abajo */
  margin-top: 3rem;
}

/* Contenido centrado dentro del footer */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;          /* centra el contenido */
  padding: 0 1rem;         /* padding lateral dentro del max-width */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  align-items: start;
  text-align: left;
}




/* pequeños estilos internos */
.footer-logo img { max-width: 120px; display:block; }
.footer-column h4 { color: #fff; margin-bottom: .5rem; }
.footer-column ul { list-style: none; padding: 0; margin: 0; }
.footer-column li { margin-bottom: .5rem; font-size: .95rem; color:#ccc; }