@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Raleway:wght@400;600&display=swap');

:root {
  --primary: #1a374d;
  --secondary: #406882;
  --accent: #6998ab;
  --light: #f0f0f0;
  --white: #ffffff;
  --navbar: #37474F;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;  /* evita que aparezca el scroll innecesario */
}

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(135deg, #adbed3, #5274a1, #a9caf4);
}

/* LAYOUT GENERAL */
.layout {
  display: flex;
  margin-top: 105px; 
  height: calc(100vh - 105px);
}
