
.container {
    display: flex;
    width: 1000px; 
    height: 580px; 
    background: rgba(255,255,255,0.95);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.logo {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.logo img {
    width: 80px;
    height: 50px;
}

.logo a {
    font-family: 'Playfair Display', serif;
    font-size: 1.7rem;
    color: white !important;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.logo a:hover {
    color: var(--resaltar);
}

.left-panel {
    flex: 1.2;
    background: var(--fondo-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.left-panel h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: var(--principal-oscuro);
    margin-bottom: 10px;
}

form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 3px; 
}

label {
    font-size: 0.9rem;
    color: var(--texto-secundario);
    margin-bottom: 2px; 
}

input {
    height: 25px; 
    padding: 3px 12px;
    border: 1px solid var(--fondo-secundario);
    border-radius: 10px; 
    font-size: 0.9rem;
    line-height: 1.2;
    outline: none;
    transition: 0.3s ease;
}

input:focus {
    border-color: var(--resaltar);
    box-shadow: 0 0 6px rgba(30, 136, 229, 0.4);
}

input::placeholder {
    color: var(--extra);
    opacity: .60;
    font-size: 14px;
}

fieldset {
    border: none;
    padding: 0; 
    margin: 0;  
}

select {
    border: 1px solid var(--fondo-secundario);
    border-radius: 10px;
    color: var(--extra);
    padding: 5px 10px;

}

input[type="file"] {
    height: auto;          
    padding: 0;            
    border: 1px solid var(--fondo-secundario);          
    border-radius: 0;      
    box-shadow: none;      
    background: transparent; 
    margin-bottom: 12px;
    color: var(--extra);
}

.btn {
    background: var(--resaltar);
    border: none;
    padding: 5px;
    border-radius: 6px;
    color: white;
    font-size: 0.95rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn:hover {
    background: linear-gradient(90deg, var(--resaltar), var(--contraste));
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(30, 136, 229, 0.4);
}


.login {
    margin-top: 10px;
    font-size: 0.9rem;
}

.login a {
    color: var(--resaltar);
    font-weight: 500;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        width: 90%;
    }

    .left-panel, .right-panel {
        flex: none;
        width: 100%;
        height: auto;
        padding: 25px;
    }

    .left-panel h1 {
        font-size: 2rem;
    }
}

.right-panel {
    flex: 1;
    background: var(--principal-oscuro);
    color: white;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    
}

.message-welcome {
    margin: 60px 0;
}

.right-panel h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.right-panel p {
    font-size: 0.95rem;
    margin-bottom: 20px;
    color: var(--fondo-secundario);
}

.right-panel a {
    color: var(--resaltar);
    font-weight: 500;
    text-decoration: none;
}

.container-socials {
    margin-top: 80px;
}

.right-panel .socials {
    display: flex;
    gap: 15px;
}

.right-panel .socials i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon-facebook:hover {
    transform: scale(1.2);
    color: var(--resaltar);
}

.icon-instagram:hover{
    transform: scale(1.2);
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-whatsapp:hover {
    transform: scale(1.2);
    color: #25D366;
}

.icon-tiktok:hover {
    transform: scale(1.2);
    background: linear-gradient(45deg, #25F4EE, #FE2C55);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}