:root {
  --principal-oscuro: #212529;
  --texto-secundario: #37474F;
  --resaltar: #1E88E5;
  --detalles: #607D8B;
  --fondo-principal: #ECEFF1;
  --fondo-secundario: #B0BEC5;
  --contraste: #4B5D67;
  --extra: #90A4AE;
  
  --primary: #1a2d34;
  --secondary: #253941;
  --text-light: #fff;
  --text-muted: #ccc;
  --accent: #62a3a6;
  --font-title: 'Playfair Display', serif;
  --font-body: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body, #root {
  min-height: 100%;
  overflow-x: hidden;   /* solo bloqueamos scroll horizontal */
  overflow-y: auto; 
  height: 100%;
  margin: 0;
  padding: 0;  
  
}

#about,
#oportunidades,
#contacto,
#conocer-mas {
scroll-margin-top: 80px;
}